{% extends 'administration/base_admin.html' %}

<!-- Titulo de la pestaña -->
{% block title %}<title>Nueva instancia - Administrador</title>{% endblock %}

<!-- Activador del item -->
{% block active6 %}active{% endblock %}

<!-- Titulo de la pagina -->
{% block titlepage %}Creación de instancia{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="row">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <h3>Datos de la instancia:</h3>
            <form class="ui form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label>Id</label>
                    <input type="text" id="id" name="id" placeholder="Id">
                </div>
                <div class="field">
                    <label>Nombre</label>
                    <input type="text" id="name" name="name" placeholder="Nombre">
                </div>
                <div class="field">
                    <label>Estado</label>
                    <input type="text" id="condition" name="condition" placeholder="Estado">
                </div>
                <div class="field">
                    <label>Inicio</label>
                    <input type="date" id="start" name="start" placeholder="Inicio">
                </div>
                <div class="field">
                    <label>Fin</label>
                    <input type="date" id="end" name="end" placeholder="Fin">
                </div>
                <div class="field">
                    <label>Configuración</label>
                    <input type="text" id="id_config" name="id_config" placeholder="Id Configuración">
                </div>
                <div class="field">
                    <label>Usuario</label>
                    <input type="text" id="id_user" name="id_user" placeholder="Id Usuario">
                </div>
                <div class="position_right">
                    <button class="large ui green button" type="submit">Guardar</button>
                </div>
            </form>
        </div>
        <div class="four wide column"></div>
    </div>
</div>
{% endblock %}