{% extends 'administration/base_admin.html' %}

<!-- Titulo de la pestaña -->
{% block title %}<title>Recursos - Administrador</title>{% endblock %}

<!-- Activador del item -->
{% block active3 %}active{% endblock %}

<!-- Titulo de la pagina -->
{% block titlepage %}Estatus de recursos{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="row">
        <div class="five wide column">
            <h3>Recursos</h3>
        </div>
    </div>
    <div class="row">
        <div class="five wide column">
            <button class="ui green button" onclick="newUserAdmin()">
                <i class="user plus icon"></i>
                Nuevo recurso
            </button>
        </div>
    </div>
</div>
<table class="ui fixed black celled table">
    <thead>
        <tr>
            <th class="centered">Id</th>
            <th class="centered">Nombre</th>
            <th class="centered">Abreviatura</th>
            <th class="centered">Métrica</th>
            <th class="centered">Tipo</th>
            <th class="centered">Valor/hora</th>
        </tr>
    </thead>
    <tbody>
        {% for resource in resources %} 
        <tr>
            <td class="centerd">{{ resource.id }}</td>
            <td class="centerd">{{ resource.name }}</td>
            <td class="centerd">{{ resource.abbreviation }}</td>
            <td class="centerd">{{ resource.metrics }}</td>
            <td class="centerd">{{ resource.type }}</td>
            <td class="centerd">{{ resource.worth }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}